/* ParticlesBackground.css - Estilização do container de partículas */

.particles-background-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0; /* Atrás de todo o conteúdo */
  pointer-events: none; /* Não interfere com cliques */
  overflow: hidden;
}

.particles-background-container canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
